/* Contenido principal */
.content {
  margin-left: 18rem; /* Ancho del Sidebar */

  transition: 0.2s;
  padding-bottom: 2rem;
}
.content.expand {
  margin-left: 0;
}

.content::-webkit-scrollbar {
  width: 0.3rem;
}
.content::-webkit-scrollbar-track {
  background: transparent;
}
.content::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
}