.sidebar {
  position: fixed;
  left: -20rem;
  top: 0;

  width: 18rem;
  height: 100%;

  overflow-x: hidden;
  transition: 0.2s;
}
.sidebar.show {
  left: 0;
}

/* .sidebar ul {
  list-style-type: none;
  padding: 0;
}
.sidebar li {
  padding: 10px;
  color: #fff;
} */